body {
    background-image: url(/img/recursos/background-def.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.container-center {
    display: flex;
    justify-content: center;
}

.card-title {
    text-align: center;
}

.card img {
    height: 250px;
    object-fit: cover;
}

.navbar {
    backdrop-filter: blur(20px);
    border-radius: 0 0 20px 20px;
    z-index: 1000;
}

.navbar-logo {
  height: 50px;
  width: auto;
}

.nav-link {
    font-weight: 500;
    transition: 0.3s;
}

.nav-link:hover {
    color: #141010;
}

.navbar-brand {
    font-size: 1.3rem;
}

form input {
    border: none;
    background-color: #f5f5f5;
}

form input:focus {
    box-shadow: none;
    background-color: #eee;
}

.dropdown-menu {
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);
    border: none;
    box-shadow: none;
}

.dropdown-item {
    color: dark;
}

.dropdown-item:hover {
    background: rgba(10, 9, 9, 0.1);
    color: rgb(0, 0, 0);
}

.carousel-caption {
    background: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

.carousel {
    width: 100%;
    margin: 40px auto;
    border-radius: 20px;
    overflow: hidden;
    background: white;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.carousel::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 20px;
    padding: 2px;
}

.carousel img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

@media (max-width: 768px) {
    .carousel img {
        height: 250px;
    }
}

footer {
    backdrop-filter: blur(50px);
    color: #070707;
    padding: 20px 0;
    text-align: center;
    width: 100%;
}
.footer-content {
    margin: 0 auto;
    text-align: center;
}

footer p {
    font-size: 1rem;
}

.social-icons a {
  display: inline-block;
  margin: 0 10px;
}

.social-icons img {
  width: 32px;
  height: 32px;
  object-fit: contain;
  transition: all 0.3s ease;
  filter: grayscale(20%);
}

/* Hover elegante */
.social-icons img:hover {
  transform: translateY(-3px) scale(1.1);
  filter: grayscale(0%);
}

.card-quienes-somos {
  background: rgba(255, 182, 193, 0.733) !important;
}

.card-mision {
  background: rgba(173, 216, 230, 0.747) !important;
}

.card-vision {
  background: rgba(144, 238, 144, 0.664) !important;
}

.card-equipo img {
  height: 300px;
  object-fit: cover;
}

.card-equipo {
     background: rgba(159, 242, 243, 0.664) !important;
}

.card-entrega { 
    background: rgba(255, 224, 178, 0.85) !important; 
} 
.card-envio { 
    background: rgba(221, 160, 221, 0.85) !important; 
} 

.card-pagos {
    background: rgba(180, 210, 255, 0.85) !important;
}

.card-tiempos {
     background: rgba(226, 223, 144, 0.85) !important;
}

.card-devoluciones {
     background: rgba(102, 205, 170, 0.85) !important;
}

.card-atencion {
   background: rgba(255, 214, 165, 0.85) !important;
}

.terminos-box {
  max-width: 800px;
  background: rgba(235, 232, 228, 0.877);
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

.terminos-box h1 {
  font-weight: 600;
}

.terminos-box h4 {
  margin-top: 25px;
  font-weight: 600;
}

.terminos-box p {
  line-height: 1.7;
  color: #444;
}

.registro-box {
  max-width: 600px;
  background: rgba(235, 232, 228, 0.877);
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

.registro-box input {
  border-radius: 10px;
}

.registro-box button {
  padding: 10px;
  font-weight: 500;
  transition: 0.3s ease;
}

.registro-box button:hover {
  transform: translateY(-2px);
}

.intro-text {
  max-width: 700px;
  margin: auto;
  font-size: 1.2rem;
  color: #555;
}
.section-title {
  font-weight: 600;
  color: #333;
}

.content-wrapper {
  background: linear-gradient(
    135deg,
    rgba(255, 224, 178, 0.85),
    rgba(236, 117, 127, 0.96)
  );
  border-radius: 20px;
  margin: 50px auto;
  max-width: 1100px;
  box-shadow: 0 15px 40px rgba(0,0,0,0.08);
  padding: 40px 20px;
}

.custom-card {
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(6px);
  border-radius: 15px;
  padding: 25px;
  transition: all 0.3s ease;
  border: 1px solid rgba(0,0,0,0.05);
}

.custom-card h5 {
  margin-bottom: 10px;
  color: #222;
}

.custom-card p {
  color: #666;
  font-size: 0.95rem;
}

.custom-card:hover {
  transform: translateY(-5px);
  background: rgba(255, 255, 255, 0.9);
}

.content-wrapper {
  background: linear-gradient(
    135deg,
    rgba(255, 224, 178, 0.85),
    rgba(236, 117, 127, 0.96)
  );
  border-radius: 20px;
  margin: 50px auto;
  max-width: 1100px;
  box-shadow: 0 15px 40px rgba(0,0,0,0.08);
  padding: 40px 20px;
}

.intro-text {
  max-width: 700px;
  margin: auto;
  font-size: 1.2rem;
  color: #010101;
}

.section-title {
  font-weight: 600;
  color: #333;
}

.highlight-title {
  font-weight: 600;
  color: #222;
}

.principal-card {
  background: rgba(231, 191, 158, 0.865);
  backdrop-filter: blur(6px);
  border-radius: 15px;
  padding: 25px;
  transition: all 0.3s ease;
  border: 1px solid rgba(0,0,0,0.05);
}

.principal-card h5 {
  margin-bottom: 10px;
  color: #222;
}

.principal-card p {
  color: #666;
  font-size: 0.95rem;
}

.principal-card:hover {
  transform: translateY(-5px);
  background: rgba(238, 185, 135, 0.9);
}

.highlight-text {
  font-size: 1rem;
}

.paginacion{
    text-align:center;
    list-style: none;
    font-size: 18px;
}

.paginacion li{
    display: inline-block;
}

.paginacion li a{
    color:black;
    padding: 5px;
    width: 30px;
    text-align: center;
    display: inline-block;
}

.paginacion li a.active{
    border: 1px solid black;
}

.tarjeta {
    background-color: rgb(7, 7, 7);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.contenedor-formulario {
    width: 100%;
    max-width: 1100px;
    margin: 90px auto;
    display: grid;
    grid-template-columns: 1fr 1fr; /* izquierda y derecha iguales */
    gap: 60px;
    align-items: start;

    background: rgba(62, 68, 62, 0.25);
    padding: 40px;
    border-radius: 15px;

    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);

    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}

.contenedor-info {
    display: flex;
    flex-direction: column;
}

.contenedor-info h2 {
    font-size: 35px;
    margin-bottom: 15px;
}

.contenedor-info p {
    font-size: 17px;
    line-height: 1.6;
    margin-bottom: 25px;
    color: #333;
}

.contenedor-info a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000;
    font-weight: 600;
    margin-bottom: 12px;
    font-size: 16px;
}

.contenedor-info a i {
    color: orange;
    margin-right: 10px;
    font-size: 18px;
}

.contenedor-formulario form {
    display: flex;
    flex-direction: column;
}

.campo {
    width: 100%;
    padding: 14px 12px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 18px;
    outline: none;
    transition: 0.3s;
}

.campo:focus {
    border-color: orange;
    box-shadow: 0 0 5px rgba(255, 165, 0, 0.4);
}

textarea.campo {
    min-height: 140px;
    resize: none;
}

.btn-enviar {
    padding: 14px;
    background: orange;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
}

.btn-enviar:hover {
    background: #e39403;
}

@media (max-width: 768px) {
    .contenedor-formulario {
        grid-template-columns: 1fr;
    }
}